---
layout: default
title: Posts
pagination: 
  enabled: true
  category: post
  permalink: /:num/
---

{% if site.categories.posts.size == 0 %}
  <h2>No note found</h2>
{% endif %}

<div class="posts">
  {% for post in site.categories.posts %}
    <article class="post">
      <h1>
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </h1>

      <div clsss="meta">
        <span class="date">
          {{ post.date | date: "%Y-%m-%d" }}
        </span>

        <ul class="tag">
          {% for tag in post.tags %}
          <li>
            <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">
              {{ tag }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% if post.description %}
      <div class="list-post-desc">
        <p>{{ post.description }}</p>
      </div>
      {% else %}
      <div class="entry">
        {{ post.excerpt }}
      </div>
      {% endif %}

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
{%comment%}
<div class="pagination">
  {% if paginator.previous_page %}
    <span class="prev">
      <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="prev">
        &#xE000; Previous
      </a>
    </span>
  {% endif %}
  {% if paginator.next_page %}
    <span class="next">
      <a href="{{ site.baseurl}}{{ paginator.next_page_path }}" class="next">
        Next &#xE001;
      </a>
    </span>
  {% endif %}
</div>
{%endcomment%}
