
$main-color: #3D9970;

$navy: #001f3f;

$black: #111111;

$light-black: #333333;

$gray: #aaaaaa;

$silver: #eeeeee;

$white: #ffffff;

$xs-screen: 544px;

$sm-screen: 768px;

$md-screen: 992px;

$lg-screen: 1200px;
