<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }} in da house{% endif %}</title>

  {% if page.description %}
  <meta name="description" content="{{ if page.description }}">
  {% else %}
  <meta name="description" content="(ahui)ahui的个人博客,尘世间一名迷途小码农的沉思">
  {% endif %}
  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" type="text/css">

  <!-- ico -->
  <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/assets/images/favicon.ico">

  <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ site.name }}" href="{{ site.baseurl }}/feed.xml" />
  {% seo %}

  {% include google-analytics.html %}
</head>
